html {
    font-size: 10px;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}

#nav {
    position: absolute;
    top: 3.5rem;
    right: 3.2rem;
    display: flex;
    flex-direction: column;
    height: 8rem;
}

.tail {
    width: 1.6rem;
    padding-top: 1.8rem;
    margin-left: 13rem;
    -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background-color: #ffffff;
    box-shadow: 0px -2px 8px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -2px 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2px 8px 5px rgba(0, 0, 0, 0.1);
}

.gnb {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: 15rem;
    padding: 0;
    border-radius: 1.2rem;
    background-color: #ffffff;
    box-shadow: 0px -2px 8px 5px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px -2px 8px 5px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px -2px 8px 5px rgba(0, 0, 0, 0.1);
}

.gnb > li {
    display: flex;
    align-items: center;
    padding-left: 2.4rem;
    height: 5rem;
    font-size: 1.6rem;
}

.gnb > li:not(:first-of-type) {
    border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.gnb a {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.gnb svg {
    margin-right: 0.8rem;
}
